.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
    width: 750px;
    box-sizing: border-box;
    /*可在 config/vw.config.js 中设置*/
    /*750px === 100 vw*/
}

.myBorder {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    margin: 10px;
    font-size: 30px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img {
    content: normal !important;
    /*适配低版本安卓机型*/
}